@font-face {
  font-family: "NotoSansCJKjp-Thin";
  src: url(font/notosans/NotoSansCJKjp-Thin.otf) format("opentype");
}

html, body {
  height: 100%;
  font-family: "NotoSansCJKjp-Thin", serif;
  font-size: 20px;
}

h1 { 
  letter-spacing: 2px;
  font-family: Escafina, Georgia, serif; 
}

header {
  height: 700px;
  background-color: #e23e57;
  background: url(images/outsidelux.jpg) center top no-repeat;
  background-size: cover;
}

li {
  list-style: none;
  line-height: 2.5;
}

footer div {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #88304e;
}


a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-family: Escafina, serif;
}

a:active {
  color: red;
}

.navbar {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  position: fixed;
  width: 100%;
}

#about {
  background-color: none;
  padding: 100px;
}

#logo {
  height: 70px;
}

#pics {
  padding: 100px;
  background-color: #88304f;
  background: url(images/landing.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.white {
  color: white;
}

#pics img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

#services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: none;
}

#address {
  padding: 100px;
  background-color: #522546;
}

#access {
  height: 500px;
  background-color: none;
}

#map {
    width: 100%; height: 500px;
}

#contact {
  padding: 100px;
  background-color: #88304e;
}

#subscribe {
  padding: 100px;
  background-color: none;
}

footer {
  height: 50px;
  background-color: #311034;
}