@font-face {
  font-family: "NotoSansCJKjp-Thin";
  src: url(fonts/notosans/NotoSansCJKjp-Thin.otf) format("opentype");
}

html, body {
  height: 100%;
  font-family: "NotoSansCJKjp-Thin", serif;
  font-size: 20px;
}

header {
  height: 700px;
  background-color: #e23e57;
  background: url(outsidelux.jpg) center top no-repeat;
  background-size: cover;
}

.navbar {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  position: fixed;
  width: 100%;
}

#about {
  height: 500px;
  background-color: none;
}

#logo {
  height: 70px;
}

#pics {
  height: 500px;
  background-color: #88304f;
}

#services {
  height: 500px;
  background-color: none;
}

#address {
  height: 500px;
  background-color: #522546;
}

#access {
  height: 500px;
  background-color: none;
}

#map {
    width: 100%; height: 500px;
}

#contact {
  height: 500px;
  background-color: #88304e;
}

#subscribe {
  height: 500px;
  background-color: none;
}

footer {
  height: 50px;
  background-color: #311034;
}